<h1>LoveMyPet Ajudando a não esquecer dos compromissos do seu pet!!!</h1>

<p>
<p>Olá <%= @notification %>,</p>

<p>Verificamos que seu pet tem um cuidado agendado e iremos te lembrar com antecedência (24hs)!</p>

<p>Caso queira mais detalhes, acesse sua conta.</p>

<p>Conte com a gente para cuidar do seu pet!</p>

<p>Equipe LoveMyPet</p>
</p>
