<h1>User#notification</h1>

<p>
<p>Olá <%= @user.email %>,</p>

<p>Verificamos que seu pet tem um cuidado agendado e estamos aqui para lembrá-lo dele!</p>

<p>Caso queira mais detalhes, acesse sua conta.</p>

<p>Estamos te esperando!</p>
</p>
