// Specific CSS for your home-page

.home-banner-pic{
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
  max-width: 1500px;
  margin: 50px auto;
}

.home-banner-text h2{
  margin: 100px 0 50px 0;
  font-family: 'Titan One', cursive;
  color: white;
  text-shadow: #3A5974;
}

.home-banner-text p{
  margin-right: 50px;
  margin-bottom: 50px;
  text-align: right;

}

.img-card{
  max-width: 1000px;
  max-height: 800px;
  width: auto;
  height: auto;
}

.home{
  max-width: 1500px;
  margin: 0 auto;
}

.index{
  max-width: 1500px;
  margin: 0 auto;
}
