<div class="container center mt-5 mb-5">
  <div class="row card-pet col-4">
    <div class="col-4">
      <%= render "pets_index" %>
    </div>
  </div>
  <div class="row card-pet col-8">
    <div class="col-8">
      <%= render "services" %>
    </div>
  </div>
</div>
