<div class="mt-3 mb-5">
    <div class="d-flex justify-content-between">
      <div class="mr-3">
        <%= render "pets_index" %>
      </div>
      <div class="w-75 px-4 mt-4 ">
        <%= render "services" %>
      </div>
    </div>
</div>
