<div class="container mt-5">
  <div class="container-food mt-5">
    <% if @baths.empty? %>
      "Seus pets não possuem nenhum banho agendado."
    <% else %>
      <% @baths.each do |bath| %>        
        <p>
        Próximo banho de <%= bath.pet.name %> 
        será dia <%= bath.date.strftime("%d/%m/%Y") %>
        </p>        
      <% end %>
    <% end %>
  </div>
</div>