
<div class="container">
    <h1>Cuidados agendados do(s) seu(s) pet(s)</h1>

    <% if @baths.nil? %>
        "Voce nao possui nenhum agendamento."
    <% else %>
      <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Pet</th>
                <th>Serviço</th>
                <th>Petshop</th>
                <th>Endereço</th>
                <th>Data</th>
                <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>
                <%# @baths.each do |bath| %>
                    <tr>
                    <td><%#= pet.name %></td>
                    <td><%#= bath.category %></td>
                    <td><%#= bath.petshop %></td>
                    <td><%#= bath.address %></td>
                    <td><%#= bath.date %></td>  
                    <td><%#= link_to 'Editar', edit_bath_path(bath) %></td>    
                    </tr>
                <%# end %>
            </tbody>
        </table>
      </div>
    <% end %>
</div>