<div class="container mt-5">
  <div class="container-food mt-5">
    <% if @medications.empty? %>
      "Seus pets não possuem nenhuma ração cadastrada."
    <% else %>
      <% @medications.each do |medication| %>
        <p>
        Próximo remédio de <%= medication.pet.name %> 
        será dia <%#= %> as <%#= %> 
        </p>        
      <% end %>
    <% end %>
  </div>
</div>