<footer class="bg-light text-center text-lg-start text-dark">
    <!-- Grid container -->
    <div class="container p-4">
    <!--Grid row-->
    <div class="row my-4">
        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">

        <div class="rounded-circle bg-white shadow-1-strong d-flex align-items-center justify-content-center mb-4 mx-auto" style="width: 150px; height: 150px;">
            <!--img src="https://mdbootstrap.com/img/Photos/new-templates/animal-shelter/logo.png" height="70" alt=""
                loading="lazy" /-->
        </div>

        <p class="text-center">Encontre os melhores tios de pet!</p>

        <ul class="list-unstyled d-flex flex-row justify-content-center">
            <li>
            <a class="text-dark px-2" href="#!">
                <i class="fab fa-facebook-square"></i>
            </a>
            </li>
            <li>
            <a class="text-dark px-2" href="#!">
                <i class="fab fa-instagram"></i>
            </a>
            </li>
            <li>
            <a class="text-dark ps-2" href="#!">
                <i class="fab fa-youtube"></i>
            </a>
            </li>
        </ul>

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Sobre nós</h5>

        <ul class="list-unstyled">
            <li class="mb-2">
            <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Log In</a>
            </li>
            <li class="mb-2">
            <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>xxxxx</a>
            </li>
            <li class="mb-2">
            <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>xxxxx</a>
            </li>
        </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Saiba mais</h5>

        <ul class="list-unstyled">
            <li class="mb-2">
            <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Política de privacidade</a>
            </li>
            <li class="mb-2">
            <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Termos de uso</a>
            </li>
            <li class="mb-2">
            <a href="#!" class="text-dark"><i class="fas fa-paw pe-3"></i>Ajuda</a>
            </li>
        </ul>
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase mb-4">Fale conosco</h5>

        <ul class="list-unstyled">
            <li>
            <p><i class="fas fa-map-marker-alt pe-2"></i>Wall Street Court - Nova York, US</p>
            </li>
            <li>
            <p><i class="fas fa-phone pe-2"></i>+ 01 234 567 89</p>
            </li>
            <li>
            <p><i class="fas fa-envelope pe-2 mb-0"></i>contact@lovemypet.com</p>
            </li>
        </ul>
        </div>
        <!--Grid column-->
    </div>
    <!--Grid row-->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2022 Copyright:
    <a class="text-dark" href="https://lovemypet.com">lovemypet.com</a>
    </div>
    <!-- Copyright -->
</footer>