<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.linkedin.com/"><i class="fab fa-linkedin"></i></a>
  </div>

  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <ul class="list-unstyled">
     <li class="mb-2">
      <a href="#!" class="text-decoration-none text-dark"><i class="fas fa-paw pe-3"></i>Sobre Nós</a>
     </li>
     <li class="mb-2">
      <a href="#!" class="text-decoration-none text-dark"><i class="fas fa-paw pe-3"></i>Contato</a>
     </li>
    </ul>
  </div>
  <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
    <ul class="list-unstyled">
      <li class="mb-2">
        <a href="#!" class="text-decoration-none text-dark"><i class="fas fa-paw pe-3"></i>Política de privacidade</a>
      </li>
      <li class="mb-2">
        <a href="#!" class="text-decoration-none text-dark"><i class="fas fa-paw pe-3"></i>Termos de uso</a>
      </li>
    </ul>
  </div>

  <div class="footer-copyright">
    <%= image_tag "LMP - Love My Pet.png", class: "image-footer" %>
  </div>
</div>
