<div class="">
  <div class="container-food mt-3">
    <% if @vaccines.empty? %>
      "Seus pets não possuem nenhuma vacina cadastrada."
    <% else %>
      <% @vaccines.each do |vaccine| %>
        <% calc_exp = Vaccine.end_date_vaccine(vaccine.app_date) %>
        <p>
        Próxima vacina de <%= vaccine.pet.name %>
        será dia <%= calc_exp.strftime("%d/%m/%Y") %>
        </p>
      <% end %>
    <% end %>
  </div>
</div>
