<div class="container">
    <h1>Vacina(s) do(s) seu(s) pet(s)</h1>

    <% if @vaccines.nil? %>
        "Seu pet nao possui nenhum medicamento."
    <% else %>
      <div class="table-responsive">
        <table class="table">
            <thead>
            <tr>
                <th>Pet</th>
                <th>Vacina</th>
                <th>Data de aplicaçao</th>
                <th>Data de vencimento</th>
                <th colspan="3"></th>
            </tr>
            </thead>

            <tbody>
                <%# @vaccines.each do |medication| %>
                    <tr>
                    <td><%#= pet.name %></td>
                    <td><%#= vaccine.type %></td>
                    <td><%#= vaccine.app_date %></td>
                    <td><%#= vaccine.expiry_date %></td>
                    <td><%#= link_to 'Editar', edit_vaccine_path(vaccine) %></td>  
                    </tr>
                <%# end %>
            </tbody>
        </table>
      </div>
    <% end %>
</div>