
<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Join us and learn about the latest UX patterns.</h2>
    <p>Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>
    <div>
      <%= link_to "Start now", "#", class: "btn btn-gradient" %>
    </div>
  </div>

</div>

<div class="cards">
  <div class="card-category">
    <div class="destaque-left">
      <p class="p-text">Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>


      <p class="p-text">Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-img-category">
     <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" id="img-landing" />
  </div>
  <div class="card-category">
    <div class="destaque-right">
      <p class="p-text">Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>

      <p class="p-text">Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
