<div class="card-product">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
  <div class="card-product-infos">
    <h2>Join us and learn about the latest UX patterns.</h2>
    <p>Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>
    <div>
      <%= link_to "Start now", "#", class: "btn btn-gradient" %>
    </div>
  </div>

</div>
<div class="cards mt-5">
  <div class="card-category">
    <div class="destaque-left mt-5">
      <h2><strong>Alimentação</strong> </h2>
      <p class="p-text">Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>

      <h2><strong>Saúde</strong> </h2>
      <p class="p-text">Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>
    </div>
  </div>
  <div class="card-img-category">
     <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" id="img-landing" />
  </div>
  <div class="card-category">
    <div class="destaque-right mt-5">
      <h2><strong>Bem Estar</strong> </h2>
      <p class="p-text">Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>
      <h2><strong>Card Title</strong> </h2>
      <p class="p-text">Blalalallbalvalsflasdlaldaldslasldasldlasdlada <strong>relevant info</strong> only.</p>
    </div>
  </div>
</div>
