.btn-gradient {
  color: white;
  padding: 8px 24px;
  margin: 20px 0px 0px 0px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#3A5974, #3A5974);
  transition: background 0.3s ease;
  border: 1px solid #3A5974;
}

.btn-gradient:hover {
  background: linear-gradient(#68CFEA, #68CFEA);
  color: white;
}

.btn-gradient2 {
  color: white;
  padding: 8px 24px;
  margin: 20px 0px 0px 0px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#68CFEA, #68CFEA);
  transition: background 0.3s ease;
  border: 1px solid #68CFEA;
}

.btn-gradient2:hover {
  background: linear-gradient(#3A5974, #3A5974);
  color: white;
}

.btn-hero {
  color: white;
  padding: 8px 24px;
  margin: 0px 0px 0px 0px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#3A5974, #3A5974);
  transition: background 0.3s ease;
  border: 1px solid #3A5974;
  text-decoration: none;
}
