.card-pets{
  border-radius: 5%;
  margin-top: 1rem;
}

.pet-img{
  border-radius: 5%;
  margin-top: 1rem;
  width: 262px;
  max-height: 167px;
  object-fit: cover;
}

.pet-img-show{
  border-radius: 5%;
  margin-top: 1rem;
  width: 500;
}

.card-pet{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
}

.container{
  max-width: 1000px;
}
