.card-pets{
  border-radius: 5%;
  margin-top: 1rem;
}

.pet-img{
  border-radius: 5%;
  margin-top: 1rem;
  width: 262px;
  max-height: 167px;
  object-fit: cover;
}

.pet-img-show{
  border-radius: 5%;
  margin-top: 1rem;
  width: 500;
}

.card-pet{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  text-align: center;
}

.container{
  max-width: 1000px;
}

.background-pets{
  background-color: #b18597;
  background: url("https://www.pexels.com/pt-br/foto/nuvens-rosa-1831234/");
  background-size: cover;
  padding: 50px 50px;
}

.container-pets{
  background-color: #ffe3e2f4;
  margin: 0 100px;
  padding: 30px;
}

.nome{
  text-align: right;
  margin: 0 30px;
  color: #b18597;
}
