.card-pets{
  border-radius: 5%;
  margin-top: 1rem;
}

.pet-img{
  border-radius: 5%;
  margin-top: 1rem;
  //width: 262px;
  //max-height: 167px;
  object-fit: cover;
}

.pet-img-show{
  border-radius: 5%;
  margin-top: 1rem;
  width: 500;
}

.card-pet{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFE3E2;
  border-radius: 5px;
  padding: 3%;
}

.center {
  text-align: center;
}

.container{
  max-width: 1000px;
}

.card-category {
  background-size: cover;
  text-decoration: none;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: left;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 24px;
  //font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  font-family: 'Titan One', cursive;
}

.background-pets{
  background: url("#");
  background-size: cover;
  padding: 50px 50px;
  //background-color: #F9C4D2;

}

.container-pets{
  margin: 0 100px;
  padding: 30px;
  //background-color: #B18597;
  border-radius: 5%;
}

.petphoto{
  width: 400px;
  height: 400px;
  object-fit: cover;
  background-size: cover;
}

.buttonADD{
  margin: 50px;
}

.card-service{
  text-decoration: none;
  & a:hover{
    color: #fff;
  }
}

.card-btn-service{
  display: flex;
  justify-content: space-around;
  align-items: center
}

.card-parcial{
  background-color: #fff;
  padding: 5px;
  margin: 30px;
}

.divzona-pets{
  background-color: #fff;
}


.accordion-button{
  &:hover{
    color: white;
  }
}

.accordion-button:not(.collapsed) {
  color: white;
}

.accordion-button::after {
  margin: 0;
  display: none;
}


.accordion{
  --bs-accordion-border-color: white;
}
