.navbar-lewagon {
  position: sticky;
  top: 0;
  width: 100%;
  justify-content: space-between;
  //background: white;
  background-color:  white;
  transition: 0.5s background-color ease;
  z-index: 100;
  padding-right: 4rem;
}

.navbar-lewagon-white {
  background-color: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  // width: 55px;
  height: 60px; /* Or whatever */
  margin: auto;
}

#text-size{
  font-size: 75%
}

.navbar-parent{
  display: flex;
  align-items: center;
}

.navbar-logo{
  display: flex;
  flex-direction: column;
}

.btn-nav{
  margin-left: 1rem;
}

.center-logo{
  margin-left: 15%;

}
// .dropdown:hover .dropdown-menu {display: block;}
