<p>Olá <%= @resource.email %>!</p>

<p>Solicitação de alteração de senha. Clique no link abaixo para alterá-la.</p>

<p><%= link_to 'Alterar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não solicitou esta alteração, ignore este e-mail.</p>
<p>Sua senha não será alterada caso não entre e crie uma nova no link acima.</p>
